/* NUBODATA GLPI CSS - github.com/dawichi */
/* [glpi]/compiled_css/css_styles.min.css */

/* Fix W3CSS */
*, *:before, *:after {
    box-sizing: revert!important;
}

/* Fix Glpi */
.tab_glpi {
    margin-left: 10px;
}
.w3-table th {
    text-align: center!important;
    display: table-cell;
    vertical-align: inherit;
}
